@font-face {
  font-family: 'Montserrat';
  src: url('static/font/Montserrat.ttf'); 
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  min-height: 100vh;
}

.hero{
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  min-height: 400vh;
}

#footer{
  position: absolute;
  bottom: 0;
  padding: 0.25rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #260242;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8rem);
}

#footer h3{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top:0.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin: 10px auto;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  flex: 1;
  margin: 0 10px;
  align-items: center;
}

.footer-links ul h4 a{
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #9769EF;
  transition: color 0.45s
}
.footer-links ul h4 a:hover {
  color: white;
}
.footer-links ul h4 {
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  color: #9769EF;
  font-size: 1.25rem;
}

.footer-links ul li a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: white; 
  font-size: 1rem;
  transition: color 0.45s
}
.footer-links ul li a:hover {
  color: #9769EF;
}
section{
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.774);
}
#events {
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: rgba(199, 187, 230, 0.774);
}

#content1{
  grid-column: 1/-1;
  background-color: #5a089c;
  color: white;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  z-index: 902;
  margin-bottom: 150px;
}
#content{
  grid-column: 1/-1;
  background-color: #5a089c;
  color: white;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  z-index: 900;
}

#cta{
  grid-column: 1/-1;
  background-color: white;
  color: #5a089c;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  z-index: 901;
}

blockquote {
  background: none;
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

#torusText{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 50px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
}

main > section, main > blockquote {
  margin-top: 50px; 
  margin-bottom: 50px;
}

#scene-start {
  height: 300vh;
  width: 100%;
}

nav {
  position: fixed;
  padding: 1rem 1rem;
  top: 0;
  right: 0;
  width:100%;
  z-index: 1001; 
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  z-index: 1000;
  grid-column: 1 / -1;
  transition: background-color 0.75s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 2rem;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.45s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav a:hover {
  color: #5a089c;
}

#logo {
  position: fixed;
  top: 8px;
  left: 25px;
  z-index: 999;
  padding: 1rem;
  margin: 8px;
  cursor: pointer;
}

#logo img {
  height: 60px;
  width: 65px;
}
#logo a {
  position: relative;
  display: block;
  cursor: pointer;
}
.fixed {
  position: fixed;
  top: 51.5px;
  width: 100%;
}
.placeholder {
  visibility: hidden;
}