@font-face {
  font-family: 'Montserrat';
  src: url('static/font/Montserrat-Italic-VariableFont_wght.ttf'); 
}
:root {
  --color-bg1: rgb(152, 105, 239);
  --color-bg2: rgb(38, 2, 66);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --clr-primary: #9769EF;
  --clr-secondary: #f5f0ff;
  --clr-accent: #b4a4f1;
  --clr-bg-section: #c7bbe6c5;
  --clr-light: #e0d6f3;
  --clr-txt: #262626;
  --clr-nav: #9769EF;
  --clr-hover: #5a089c;
  --clr-l1:#8610e6;
  --clr-l2:#9769EF;
  --clr-l3: #b4a4f1;
  --ff-txt: 'Montserrat', sans-serif;
}

.darkmode {
  --clr-primary:  #330676;
  --clr-secondary:  #250555;
  --clr-accent: #9769EF;
  --clr-bg-section: #160e1fc5;
  --clr-hover:#ff6347;
  --clr-nav: #14022f;
  --clr-txt: #f5f0ff;
  --clr-l1:#14022f ;
  --clr-l2:#250555;
  --clr-l3: #330676;
}

.darkmode-toggle {
  color: #1b042d; 
}

.darkmode-toggle.dark {
  color: #f5f0ff;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

#scrollWatcher{
  height: 7.5px;
  position: fixed;
  top: 0;
  z-index:1001 ;
  background-color: #f5f0ff;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scrollWatcher linear;
  animation-timeline: scroll();
}

@keyframes scrollWatcher {
  to { scale: 1 1; }
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  touch-action: pan-down;
}

#scroll-container {
  height: 100%;
  overflow-y: auto;
  z-index: 30000;
}

main{
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero{
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 3rem;
  color: var(--clr-secondary);
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  min-height: 300vh;
}

.parallax {
  perspective: 1px;
  height: 270vh;
  overflow-x: hidden;
  transform-style: preserve-3d;
  grid-column: 1 / -1;
}

.parallax-layer {
  position: relative;
  width: 100vw;
  max-height: 100vh;
}

section{
  grid-column: 3/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--clr-bg-section);
  border-radius: 1.5rem;
}


#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
#image-track > img {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  margin: 0 auto;
  object-position: 100% 50%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0.7;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  60% {
    opacity: 0.7;
    transform: translateX(-20px);
  }
  80% {
    opacity: 0.9;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#content{
  box-sizing: border-box;
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--clr-l1);
  color: white;
  padding: 2rem 4rem;
  font-size: 1.25rem;
  z-index: 900;
  transition: background-color 0.75s ease;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  width: 50%;
  box-sizing: border-box;
  padding: 0 1rem;
  opacity: 0;
}

.text-section.animate {
  animation: fadeInUp 1.5s ease-out forwards;
}

.image-section {
  width: 50%;
  box-sizing: border-box;
  padding: 2rem 4rem;
  opacity: 0;
}
.image-section.animate {
  animation: bounceInRight 1.5s ease-out forwards;
}
.image-section img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

#cta{
  grid-column: 1/-1;
  background-color: var(--clr-l2);
  color: #f5f0ff;
  padding: 2rem 4rem;
  font-size: 1.25rem;
  z-index: 901;
  transform-origin: top;
  height: 75vh;
  transition: background-color 0.75s ease;
}

#content1{
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--clr-l3);
  color: var(--clr-txt);
  padding: 4rem 6rem;
  font-size: 1.25rem;
  z-index: 902;
  transition: background-color 0.75s ease;
  height: 80vh;
}
.scroller {
  max-width: 80%;
  margin: 0 1rem;
}

.scroller__inner{
  padding-block: 1rem ;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"]{
  overflow: hidden; 
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller__inner{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-direction, forwards) linear;
  animation-timeline: scroll(root);
}

.scroller[data-direction="right"]{
  --_animation-direction: reverse;
}

@keyframes scroll {
  to{
    transform:translate(calc(-50% - 0.5rem))
  }
}

.tag-list{
  margin: 0;
  padding-inline:0 ;
  list-style: none;

  li{
    padding: 1rem;
    background-color: var(--clr-bg-section);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-bg-section);
  }
}

.socials-section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 2rem;
  margin-top: 3rem;
  
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  
  li {
    flex: 1;
    text-align: center;
  }

  i{
    color: #f5f0ff;
    cursor: pointer;
    transition: color 0.45s
  }
  i:hover{
    color: var(--clr-hover);
  }
}

.info-section, .form-section {
  margin-bottom: 50px;
}

#subscribe-form {
  display: flex;
  justify-content: flex-start;
}

#subscribe-form #email {
  padding: 10px;
  font-size: 16px;
  width: 65%;
  border-radius: 10px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--clr-light);
  color:#14022f
}

#subscribe-form #button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-accent);
  color: #fff;
  border: none;
  cursor: pointer;
  background-size:  auto 200%;
  background-image: linear-gradient(to bottom, #6359e5 50%, var(--clr-hover) 50%);
  transition: all 0.4s ease;
  background-position: center top;
}
#subscribe-form #button:hover {
  background-position: center bottom;
}
label[for="email"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

blockquote {
  background: none;
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
} 

.bg-container{
  grid-column: 3 / 11;
  width: 100%;
  height: 500px;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.events-wrapper{
  height: 100%;
  grid-column: 2/11;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.events-container{
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.bg-container {
  opacity: 0;
  transform: translateX(-100%);
  padding: 1rem;
}

.bg-container h2{
  margin: 0;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bg-container.animate {
  animation: fadeInFromLeft 1s ease-out forwards;
}

.card{
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover ;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 20px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0 10px 30px -5px rgba( 0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .card-icon{
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .card-dsc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 520px;
  height: 80px;
  opacity: 0;
  transform: translateY(30px);
  transition : .3s;
  transition: all .3s ease;
}

.card-dsc p {
  color: white;
  margin-top: 0;
  margin-bottom: 45px;
}
.events-container input{
  display: none;
}

.events-container input:checked + label{
  width: 600px;
}

.events-container input:checked + label .card-dsc{
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for = "c1"]{
  background-image: url('static/images/img-1.jpg');
}
.card[for = "c2"]{
  background-image: url('static/images/img-6.jpg');
}
.card[for = "c3"]{
  background-image: url('static/images/img-3.jpg');
}
.card[for = "c4"]{
  background-image: url('static/images/img-8.jpg');
}

#torusText{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 50px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
}

main > section, main > blockquote {
  margin-top: 50px; 
  margin-bottom: 50px;
}

#events-quote{
  margin-top: 50px;
  margin-bottom: 0;
  grid-column: 2 / 11;
}

#scene-start {
  height: 300vh;
  width: 100%;
}

nav {
  position: fixed;
  padding: 0.15rem 1rem;
  top: 0;
  right: 0;
  width:100%;
  z-index: 1001; 
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  z-index: 1000;
  grid-column: 1 / -1;
  transition: background-color 0.75s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 2rem;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.45s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav a:hover {
  color: var(--clr-hover);
}

#logo {
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 999;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
}

#logo img {
  height: 50px;
  width: 57.5px;
}
#logo a {
  position: relative;
  display: block;
  cursor: pointer;
}
.fixed {
  position: fixed;
  top: 55px;
  width: 1/-1;
}
.placeholder {
  visibility: hidden;
}

#loading-screen {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.75s ease-out, visibility 0.5s ease-out;
}
#text-container {
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.spinner {
  display: block;
  animation: rotate 3.75s linear;
  height: 120px;
  width: 120px;
  position: relative;
  transition: opacity 0.3s ease-out;
}

.path {
  stroke-dasharray: 301.635;
  stroke-dashoffset: 301.635;
  stroke: #f5f0ff;
  stroke-linecap: round;
  animation: dash 3.75s ease-in-out;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

@keyframes dash {
  0% { stroke-dashoffset: 301.635; }
  100% { stroke-dashoffset: 0; }
}

#enter-button {
  font-size: 28px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: white; 
  color: #9869ef;
  cursor: not-allowed;
  &:enabled {
    cursor: pointer;
  }
  transition: background-color 0.5s ease, opacity 1s ease;
  display: block;
  font-family: 'Montserrat', 'sans-serif';
}

#enter-button:enabled {
  background-color: #5a089c;
  color: white;
  cursor: pointer;
}
#enter-button:enabled:hover {
  background-color: #260242;
  color: white;
  cursor: pointer;
}
#enter-button:enabled:active {
  opacity: 0;
}
#loading-text {
  margin-bottom: 20px; 
  font-size: 25px;
  text-align: center;
  color: white;
}
.load-complete {
  opacity: 0; 
  overflow: hidden;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}
.load-complete-show {
  opacity: 1;
  height: auto;
}
#loading-screen h2{
  font-size: 100px;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}


.darkmode-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

#footer{
  position: absolute;
  bottom: 0;
  padding: 0.25rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-nav);
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8rem);
  transition: background-color 0.75s ease;
}

#footer h3{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top:0.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin: 10px auto;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  flex: 1;
  margin: 0 10px;
  align-items: center;
}

.footer-links ul h4 a{
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--clr-accent);
  transition: color 0.45s
}
.footer-links ul h4 a:hover {
  color: white;
}
.footer-links ul h4 {
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--clr-accent);
  font-size: 1.25rem;
}

.footer-links ul li a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: white; 
  font-size: 1rem;
  transition: color 0.45s
}
.footer-links ul li a:hover {
  color: var(--clr-hover);
}