@font-face {
  font-family: 'Montserrat';
  src: url('static/font/Montserrat-Italic-VariableFont_wght.ttf'); 
}
:root {
  --color-bg1: rgb(152, 105, 239);
  --color-bg2: rgb(38, 2, 66);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --clr-primary: #9769EF;
  --clr-secondary: #f5f0ff;
  --clr-accent: #b4a4f1;
  --clr-bg-section: #c7bbe6c5;
  --clr-light: #e0d6f3;
  --clr-txt: #262626;
  --clr-nav: #9769EF;
  --clr-hover: #5a089c;
  --ff-txt: 'Montserrat', sans-serif;
}

.darkmode {
  --clr-primary:  #330676;
  --clr-secondary:  #250555;
  --clr-accent: #9769EF;
  --clr-bg-section: #160e1fc5;
  --clr-hover:#ff6347;
  --clr-nav: #14022f;
  --clr-txt: #f5f0ff;
}

.darkmode-toggle {
  color: #1b042d; 
}

.darkmode-toggle.dark {
  color: #f5f0ff;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

#scrollWatcher{
  height: 7.5px;
  position: fixed;
  top: 0;
  z-index:1001 ;
  background-color: #f5f0ff;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scrollWatcher linear;
  animation-timeline: scroll();
}

@keyframes scrollWatcher {
  to { scale: 1 1; }
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  touch-action: pan-down;
}

#scroll-container {
  height: 100%;
  overflow-y: auto;
  z-index: 30000;
}

main{
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hero{
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 3rem;
  color: var(--clr-secondary);
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  min-height: 400vh;
}

.parallax {
  perspective: 1px;
  height: 260vh;
  overflow-x: hidden;
  transform-style: preserve-3d;
  grid-column: 1 / -1;
  padding-bottom: 150px;
}

.parallax-layer {
  position: relative;
  width: 100vw;
  max-height: 100vh;
}

section{
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--clr-bg-section);
}
#events {
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: var(--clr-bg-section);
}

#content1{
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--clr-primary);
  color: white;
  padding: 2rem 4rem;
  font-size: 1.25rem;
  z-index: 902;
  transition: background-color 0.75s ease;
  height: 75vh;
}
#content{
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--clr-nav);
  color: white;
  padding: 2rem 4rem;
  font-size: 1.25rem;
  z-index: 900;
  transition: background-color 0.75s ease;
  height: 75vh;
}

#cta{
  grid-column: 1/-1;
  background-color: var(--clr-secondary);
  color: var(--clr-txt);
  padding: 2rem 4rem;
  font-size: 1.25rem;
  z-index: 901;
  transform-origin: top;
  height: 75vh;
  transition: background-color 0.75s ease;
}

.info-section, .form-section {
  margin-bottom: 50px;
}

#subscribe-form {
  display: flex;
  justify-content: flex-start;
}

#subscribe-form input {
  padding: 10px;
  font-size: 16px;
  width: 75%;
  border-radius: 10px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--clr-light);
  color:#14022f
}

#subscribe-form button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--clr-accent);
  color: #fff;
  border: none;
  cursor: pointer;
  background-size:  auto 200%;
  background-image: linear-gradient(to bottom, #6359e5 50%, var(--clr-hover) 50%);
  transition: all 0.5s ease;
  background-position: center top;
}
#subscribe-form button:hover {
  background-position: center bottom;
}

blockquote {
  background: none;
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

#torusText{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 50px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
}

main > section, main > blockquote {
  margin-top: 50px; 
  margin-bottom: 50px;
}

#scene-start {
  height: 300vh;
  width: 100%;
}

nav {
  position: fixed;
  padding: 0.15rem 1rem;
  top: 0;
  right: 0;
  width:100%;
  z-index: 1001; 
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  z-index: 1000;
  grid-column: 1 / -1;
  transition: background-color 0.75s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 2rem;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.45s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav a:hover {
  color: var(--clr-hover);
}

#logo {
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 999;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
}

#logo img {
  height: 50px;
  width: 57.5px;
}
#logo a {
  position: relative;
  display: block;
  cursor: pointer;
}
.fixed {
  position: fixed;
  top: 55px;
  width: 1/-1;
}
.placeholder {
  visibility: hidden;
}
#loading-screen {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: white;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.75s ease-out, visibility 0.5s ease-out;
}
#text-container {
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.spinner {
  display: block;
  animation: rotate 3.75s linear;
  height: 120px;
  width: 120px;
  position: relative;
  transition: opacity 0.3s ease-out;
}

.path {
  stroke-dasharray: 301.635;
  stroke-dashoffset: 301.635;
  stroke: #f5f0ff;
  stroke-linecap: round;
  animation: dash 3.75s ease-in-out;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

@keyframes dash {
  0% { stroke-dashoffset: 301.635; }
  100% { stroke-dashoffset: 0; }
}

#enter-button {
  font-size: 28px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: white; 
  color: #9869ef;
  cursor: not-allowed;
  &:enabled {
    cursor: pointer;
  }
  transition: background-color 0.5s ease, opacity 1s ease;
  display: block;
  font-family: 'Montserrat', 'sans-serif';
}

#enter-button:enabled {
  background-color: #5a089c;
  color: white;
  cursor: pointer;
}
#enter-button:enabled:hover {
  background-color: #260242;
  color: white;
  cursor: pointer;
}
#enter-button:enabled:active {
  opacity: 0;
}
#loading-text {
  margin-bottom: 20px; 
  font-size: 25px;
  text-align: center;
  color: white;
}
.load-complete {
  opacity: 0; 
  overflow: hidden;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}
.load-complete-show {
  opacity: 1;
  height: auto;
}
#loading-screen h2{
  font-size: 100px;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}


.darkmode-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

#footer{
  position: absolute;
  bottom: 0;
  padding: 0.25rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-nav);
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: calc(100% - 8rem);
  transition: background-color 0.75s ease;
}

#footer h3{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top:0.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content:space-around;
  width: 100%;
  margin: 10px auto;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  flex: 1;
  margin: 0 10px;
  align-items: center;
}

.footer-links ul h4 a{
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--clr-accent);
  transition: color 0.45s
}
.footer-links ul h4 a:hover {
  color: white;
}
.footer-links ul h4 {
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--clr-accent);
  font-size: 1.25rem;
}

.footer-links ul li a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: white; 
  font-size: 1rem;
  transition: color 0.45s
}
.footer-links ul li a:hover {
  color: var(--clr-hover);
}