@font-face {
  font-family: 'Montserrat';
  src: url('static/font/Montserrat.ttf'); 
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
header{
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 3rem;
  font-family: 'Montserrat', sans-serif;
}

section{
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.774);
}
#events {
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: rgba(199, 187, 230, 0.774);
}
#content{
  grid-column: 1/-1;
  background-color: #9769EF;
  color: white;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

#cta{
  grid-column: 1/-1;
  background-color: white;
  color: #9769EF;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

blockquote {
  background: none;
  grid-column: 2/8;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

#torusText{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it is above other content */
  padding: 50px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
}

main > section, main > blockquote {
  margin-top: 50px; /* Add top margin to all sections and blockquotes */
  margin-bottom: 50px; /* Add bottom margin to all sections and blockquotes */
}

#scene-start {
  height: 300vh; /* Make it the same height as the viewport */
  width: 100%;
}

nav {
  position: fixed;
  padding: 1.5rem 1rem;
  top: 0;
  right: 0;
  width:100%;
  z-index: 1001; /* Higher than other elements */
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  z-index: 1000;
  grid-column: 1 / -1;
  transition: background-color 0.75s ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 2rem;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav a:hover {
  color: #5a089c;
}

#logo {
  position: fixed;
  top: 15px;
  left: 25px;
  z-index: 999;
  padding: 1rem;
  margin: 8px;
  cursor: pointer;
}

#logo img {
  height: 60px;
  width: 65px;
}
#logo a {
  position: relative;
  display: block;
  cursor: pointer;
}